* {
    box-sizing: border-box;
}
html, body
{
    position: relative;
    height: 100%;
}

.container {
    padding: 10px 10px 10px 10px;
    margin-top:10px;
    margin-bottom:10px;
    max-width:100%;
    position: relative;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

[class*="col-"] {
    float: left;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color: rgba(255, 255, 255, 1);
        background-image: url("../img/background.jpg")!important;
         background-size:cover;
    }


h1 { 
     line-height: 200%;
}

h2 { 
    line-height: 150%;
    text-align: center;
    padding:0;
    margin:0;
}


p { 
    font-size:.90em;
    text-indent: 3em;
    text-align: left;
    padding:0;
  }


.nav { 
    font-weight: bold;
    font-size: 1.25em; 
}

.footer {
    font-size: 12px;
    font-style: italic;
    background-color: rgba(113, 183, 189, 0.8);
    border: 1px solid #f0f8ff !important;
    position:fixed;
    bottom:0;
    width: 100%;
}

.companyname { 
            font-weight: bold;
            font-size: 1.25em;
}

.header {
            padding: 1px;
}

#logo {
            padding:1px;
    }

#logo-text {
            text-align:center;
            max-width:100%;
            height:20%;
            -moz-text-size-adjust: auto;
            background-color: rgba(113, 183, 189, 0.8);
            }
#logo {
        max-width:100%;
        height:50px;
     }

.brand {
    max-width:100%;
    max-height:100%;
    background-color: rgba(113, 183, 189, 0.8);
    padding: 5px;
}

.buttons{
    display: inline;
    align-content: flex-end;
    font-weight: bold;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
}

#left-menu {
        text-align:left;
        padding:0;
        margin:0;
}

#left-menu ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden ;
    display: inline;
}

#left-menu li {
    float: left;
    padding-left: 10px;
    padding-right:10px;
    font-size: 1.2em;
    align-content: flex-end;
    font-weight: bold;
}

#left-menu li a:hover {
    color: rgba(255, 255, 255, 1);
}

a.button{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: solid;
    color: rgba(255, 255, 255, 1);
    text-align:center!important;
    transition: all 0.2s;
    width:6em;
    background-color: rgba(113, 183, 189, 0.8);
}
a.button:hover{
    color:#000000;
    background-color:rgba(113, 183, 109, 0.8);
}

#map {
    position: absolute; top: 10px; right: 5px; bottom: 10px; left: 5px;
    width : 98%;
}
.map {
    position: relative;
    width : 100%;
}
.login{
    padding: 5px 10px 5px 10px;
    text-decoration: solid;
    color: rgba(255, 255, 255, 1);
    transition: all 0.2s;
    background-color: rgba(113, 183, 189, 0.8);
}

.button-submit {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: solid;
    color: rgba(255, 255, 255, 1);
    text-align:center!important;
    transition: all 0.2s;
    width:6em;
    background-color: rgba(113, 183, 189, 0.8);
}

.button-submit:hover{
    color: rgba(255, 255, 255, 1);
    background-color:rgba(113, 183, 109, 0.8);
}
a.prev, a.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

div.data-form{
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
}

div.form-control{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(250, 255, 189);
}
div.control-label{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(250, 255, 189);
}

.btn-submit {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    float: right;
    background-color: rgba(113, 183, 189, 0.8);
}

@media all and (max-width:30em){
        a.button{
        color:rgb(255,255,255);
        display:block;
        margin:0.4em auto;
        }
}

div .lreel{
        border: 1px solid #f0f8ff ;
        padding: 10px 5px 10px 10px;
        max-width:99%;
        float: left!important;
        background-color: rgba(113, 183, 189, 0.8);
      }

div .rreel {
        border: 1px solid #f0f8ff ;
        padding: 10px 10px 10px 5px;
        max-width:99%;
        height: 100%;
        float:left!important;
        background-color: rgba(113, 183, 189, 0.8);
        }

div .gallery {
    border: 1px solid #f0f8ff;
    padding: 10px 5px 10px 5px;
    max-width: 100%;
    background-color: rgba(113, 183, 189, 0.8);
}

.details li{
    width:100%;
}

#details{
    width:100%;
    text-align: left;
    display: block;
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding-right:0px;
}

/* Position the "next button" to the right */
.next {
    margin-left: 50px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.galleryText {
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.galleryHead {
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
    text-align: center;
    font-weight: bold;
}

.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#front-page {
    height : 100%;
    text-align:center;
    position:relative;
}
#front-page-header {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#front-page-text {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#front-page-button {
    text-align:center;
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#evaluation-message {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: rgb(250, 255, 189);
}
.evaluation-form{
    border: 1px solid #f0f8ff;
    padding: 10px 5px 10px 5px;
    max-width: 100%;
    background-color: rgba(113, 183, 189, 0.8);
}

